body {
    background-color: #1F2937;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 180px;
}

.header-container {
    display:flex;
}

.header-container div {
    font-size:18px;
    flex: 1;
    color:#E5E7EB

    
}

.main {
    font-size:48px;
    font-weight: bolder;
    color:#F9FAF8;
    margin-left: 180px;
    margin-top: 100px;

}

p {
    font-size: 18px;
    color:#E5E7EB;
    margin-left: 180px;
}