body {
    background-color: #1F2937;
}

.frame {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.headerlogo {
    color:white
    font-size: 24px;
}